.navbar {
    background: #a300e7;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.navbar_left {
    margin-right: 30px;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
}

.navbar_left > a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #FFF;
}

.navbar_left .active_link {
    color: #221a1a;
    border-bottom: 3px solid #3b3535;
    padding-bottom: 12px;
}

.navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.navbar_right > a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #FFF;
}