@import url('https://fonts.googleapis.com/css?family=Lato:wgh@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background: #F0F2F5 ;
  -webkit-font-smoothing: antialiased
}

body, input, button {
  font: 16px "Poppins", sans-serif;
}

.container {
  height: 100vh;
}

.content {
  width: 100%;
  max-width: 1168px;
  margin: 0 auto;
  padding: 40px 20px;
}

.card {
  background-color: #fdfdfd;
  padding: 22px 32px;
  border-radius: 5px;
  color: #363F5F;
  display: grid;
}

.card header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.card h1 {
    margin-top: 14px;
    font-size: 36px;
    font-weight: normal;
    line-height: 54px;
}


p {
  margin: 5px 0;
}

table {
  width: 100%;
  border-spacing: 0 4px;
}

table th {
    color: #353535;
    font-weight: 600;
    padding: 20px 32px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}

table td {
    padding: 20px 14px;
    border: 0;
    background: #edecec;
    font-size: 14px;
    font-weight: normal;
    color: #48494d;
}

table td .title {
  color: #363f5f;
}

table td .income {
  color: #12a454;
}
table td .outcome {
  color: #e83f5b;
}
td:first-child {
  border-radius: 8px 0 0 8px;
}
td:last-child {
  border-radius: 0 8px 8px 0;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  width: fit-content;
  padding: 5px 15px;
  font-weight: 500;
  margin: 10px 0;
  cursor: pointer;
}
